Factory/pipeline/KomatsuMOM.json
{
	"name": "KomatsuMOM",
	"properties": {
		"activities": [
			{
				"name": "ListMOM",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "XmlSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "XmlReadSettings",
							"validationMode": "none",
							"namespaces": true
						}
					},
					"dataset": {
						"referenceName": "KomatsuMOM",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ForEachMOM",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ListMOM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ListMOM').output.Response.Entry",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ActivityInsideForEach",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"enableStaging": false
							}
						},
						{
							"name": "GET_MOM",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "ActivityInsideForEach",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('/Stanford/File/V1.0/MOM/', item())",
									"type": "Expression"
								},
								"method": "GET",
								"linkedServices": [
									{
										"referenceName": "KomatsuHTTP",
										"type": "LinkedServiceReference"
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}